.commonStyles {
  border-radius: 25px;
  cursor: pointer;
  display: block;
  font-weight: 500;
  font-size: 16px;
  height: 50px;
  min-width: 125px;
  width: fit-content;
  overflow: hidden;
  transition: all 0.2s;
  line-height: 24px;
  padding: 13px 24px;
  position: relative;
  text-align: center;
}

.commonStyles:disabled {
  cursor: not-allowed;
}

.primaryVariant {
  border: none;
  color: #fff;
}

.secondaryVariant {
  background-color: inherit;
  color: #000;
}

.defaultThemePrimary {
  background-color: #313c5a;
  color: #fff;
}

.defaultThemeSecondary {
  border: 1px solid #313c5a;
}

.worklightThemePrimary {
  background-color: #8bcc33;
}

.worklightThemeSecondary {
  border: 1px solid #8bcc33;
}

.peopleflowThemePrimary {
  background-color: #2bc8ff;
}

.peopleflowThemeSecondary {
  border: 1px solid #2bc8ff;
}

.skillbookThemePrimary {
  background-color: #08203c;
}

.skillbookThemeSecondary {
  border: 1px solid #08203c;
}

.defaultThemePrimary:disabled {
  background-color: #313c5a88;
}

.worklightThemePrimary:disabled {
  background-color: #8bcc3388;
}

.peopleflowThemePrimary:disabled {
  background-color: #2bc8ff88;
}

.skillbookThemePrimary:disabled {
  background-color: #08203c88;
}

.defaultThemeSecondary:disabled {
  border: 1px solid #313c5a88;
  color: #666;
}

.worklightThemeSecondary:disabled {
  border: 1px solid #8bcc3388;
  color: #666;
}

.peopleflowThemeSecondary:disabled {
  border: 1px solid #2bc8ff88;
  color: #666;
}

.skillbookThemeSecondary:disabled {
  border: 1px solid #08203c88;
  color: #666;
}

.fullWidth {
  width: 100%;
}

.loadingStyles .buttonText {
  visibility: hidden;
  opacity: 0;
}

.loadingStyles::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
