.defaultStyles {
  color: #20283f;
}

.paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.action {
  color: #3056d3;
}

.action:hover {
  cursor: pointer;
}

.centerAlign {
  text-align: center;
}

.subtle {
  color: #64748b;
}

.weightLight {
  font-weight: 400;
}

.weightMedium {
  font-weight: 500;
}

.weightHeavy {
  font-weight: 700;
}

.xsSize {
  font-size: 12px;
}

.smSize {
  font-size: 14px;
}

.mdSize {
  font-size: 16px;
}

.lgSize {
  font-size: 18px;
}

.xlSize {
  font-size: 20px;
}
