.dropdown {
  background-color: #fff;
  border: 1.5px solid #dee4ee;
  border-radius: 4px;
  color: #000;
  position: absolute;
  left: 0;
  line-height: 24px;
  min-height: 50px;
  outline: none;
  padding-top: 50px;
  right: 0;
  top: 0;
}

.peopleflowThemeFocused {
  border: 1.5px solid #2bc8ff;
}

.worklightThemeFocused {
  border: 1.5px solid #8bcc33;
}

.skillbookThemeFocused {
  border: 1.5px solid #2db857;
}

.defaultThemeFocused {
  border: 1.5px solid #313c5a;
}

.focused {
  outline: none;
  box-shadow: 2px 5px 8px #00000033;
  z-index: 3;
}

.invalid {
  outline: none;
  border: 1.5px solid red;
  box-shadow: 2px 5px 8px #00000033;
  z-index: 3;
}
