.select {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.selectLabel {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 3px;
}

.selectInput {
  position: relative;
  display: block;
  min-height: 52px;
  z-index: 3;
}
