.commonStyles {
  height: 50px;
  display: block;
  border-radius: 25px;
  overflow: hidden;
}

.commonStyles:disabled {
  cursor: not-allowed;
}

.commonStyles:disabled > a {
  cursor: not-allowed;
}

.primaryVariant {
  border: none;
  color: #fff;
  overflow: hidden;
}

.secondaryVariant {
  color: #000;
  background-color: inherit;
}

.defaultThemePrimary {
  background-color: #313c5a;
}

.defaultThemeSecondary {
  border: 1px solid #313c5a;
}

.worklightThemePrimary {
  background-color: #8bcc33;
}

.worklightThemeSecondary {
  border: 1px solid #8bcc33;
}

.peopleflowThemePrimary {
  background-color: #2bc8ff;
}

.peopleflowThemeSecondary {
  border: 1px solid #2bc8ff;
}

.skillbookThemePrimary {
  background-color: #2db857;
}

.skillbookThemeSecondary {
  border: 1px solid #2db857;
}

.defaultThemePrimary:disabled {
  background-color: #313c5a88;
}

.worklightThemePrimary:disabled {
  background-color: #8bcc3388;
}

.peopleflowThemePrimary:disabled {
  background-color: #2bc8ff88;
}

.skillbookThemePrimary:disabled {
  background-color: #2db85788;
}

.defaultThemeSecondary:disabled {
  border: 1px solid #313c5a88;
  color: #666;
}
.worklightThemeSecondary:disabled {
  border: 1px solid #8bcc3388;
  color: #666;
}
.peopleflowThemeSecondary:disabled {
  border: 1px solid #2bc8ff88;
  color: #666;
}
.skillbookThemeSecondary:disabled {
  border: 1px solid #2db85788;
  color: #666;
}

.defaultWidth {
  min-width: 150px;
  width: fit-content;
}

.bigWidth {
  width: 450px;
}

.fullWidth {
  width: 100%;
}

.link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  padding: 13px 24px;
  border: none;
  border-radius: 25px;
  line-height: 22px;
  text-decoration: none;
  color: inherit;
}
