.defaultVariant {
  color: #fff;
  height: 50px;
  display: block;
  border-radius: 25px;
  border: none;
  overflow: hidden;
}

.defaultTheme {
  background-color: #313c5a;
}

.worklightTheme {
  background-color: #8bcc33;
}

.peopleflowTheme {
  background-color: #2bc8ff;
}

.skillbookTheme {
  background-color: #2db857;
}

.defaultWidth {
  min-width: 150px;
  width: fit-content;
}

.bigWidth {
  width: 450px;
}

.fullWidth {
  width: 100%;
}

.secondaryVariant {
  color: #000;
  background-color: inherit;
  border: 1.5px solid #000;
  border-radius: 25px;
}

.link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  padding: 13px 26px;
  border: none;
  border-radius: 25px;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
}
