.wrapper {
  width: max(900px, 100% - 3rem);
  margin-inline: auto;
}

.tableContainer {
  max-width: 100%;
  overflow-x: auto;
}

.table {
  padding: 1rem;
  width: 100%;
  border-collapse: collapse;
}

.tableTr:nth-child(2n) {
  background-color: rgb(247, 247, 247);
}

.tableCaption,
.tableTh,
.tableTd {
  padding: 1rem;
}

.tableCaption,
.tableTh {
  text-align: left;
}

.tableTh {
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
}

.tableCaption {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.tableFooter tr td {
  padding: 1rem;
  font-weight: 600;
}

.tablePageNavContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  padding: 16px 0;
}

.tablePageNavText {
  display: flex;
  gap: 48px;
  align-items: center;
}

.tablePageNavButtons {
  display: flex;
  gap: 16px;
}

/* .checkbox:before {
  content: '-';
  text-align: center;
  vertical-align: middle;
}

.checkbox:checked:before {
  content: '';
} */
